* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Noto Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.container {

    width: 100%;
    min-height: 100vh;
    background: linear-gradient(135deg, #153677, #4e085f);
    padding: 10px;


}



#todoapp {

    color: #153677;
    max-width: 500px;
    background: #fff;
    margin: 100px auto 20px;
    padding: 40px 30px 70px;
    border-radius: 10px;
}

#ip {
    display: flex;
    margin-top: 30px;
    min-width: 70px;
    align-items: center;


}

input {
    width: 75%;
    min-width: 80px;
    height: 50px;
    border: none;
    outline: none;
    z-index: 1;
    background-color: rgba(186, 211, 240, 0.316);
    border-radius: 25px;
    padding-left: 20px;

}
#ip input:hover{
    transform: scale(1.02);
    
}


#ip button {
    color: azure;
    height: 50px;
    width: 23%;
    right: 45px;
    border: none;
    position: relative;
    z-index: 2;
    background-color: orangered;
    color: white;
    border-radius: 25px;
    outline: none;
    display: inline;
    cursor: pointer;
    font-size: large;
}

#ip button:hover{
    transform: scale(1.03);
    
}




li {
    position: relative;
    list-style: none;
    cursor: pointer;
    padding: 10px 8px 10px 50px;
    font-size: 17px;
    color: rgba(61, 61, 61, 0.922);
    
}
ul{
    margin-top: 25px;
}



ul li::before {
    content: '';
    position: absolute;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-image: url(video.png);
    color: #4e085f;
    background-size: cover;
    background-position: center;
    top : 4px;
    left: 3px;
    opacity: 0.5;
}

ul li.checked{
    text-decoration: line-through;
    color: #555;
}

ul li.checked::before{
    
    background-image: url(checkmark.png);
    opacity: 1;


}

ul li button{
    position: absolute;
    right: 0px;
    border: none;
    outline: none;
    background-color: #fff;
    height: 27px;
    width: 27px;
    font-size: larger;
    color: #555;
    

    
}
ul li button:hover{
    background: #edeef0;
    border-radius: 100%;
    
    
}


footer {
        width: 100%;
        background-color: #554ed3b7;
        text-align: center; 
        padding: 20px;
}
